<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <!--IIS Publish -->
      <!--<aspNetCore processPath="dotnet" arguments=".\WebAppCore.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />-->
      <!--发布的时候，aspNetCore 节点会被替换-->
      <!--IIS VS Debug -->
      <!--需要先建立 logs 文件夹-->
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
</configuration>